<div class="columns is-centered">
  <div class='column is-one-quarter has-text-centered'>
    <p id="regTitle" class="has-text-weight-semibold m-b-lg">Bar Selection</p>
    <p class="has-text-weight-semibold m-b-lg">Choose your first bar, your last bar, and as many bars inbetween</p>
    <form>
      <label for="bar1" class="crawlName">FIRST BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar1' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar2" class="crawlName">LAST BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar2' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar3" class="barNumber">ADD A BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar3' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar4" class="barNumber">ADD A BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar4' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar5" class="barNumber">ADD A BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar5' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar6" class="barNumber">ADD A BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar6' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar7" class="barNumber">ADD A BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar7' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <label for="bar8" class="barNumber">ADD A BAR</label>
      <div class="select is-info is-fullwidth is-rounded is-large m-t-md m-b-lg">
        <select id='bar8' class="has-text-info">
          <option value="default">Choose A Bar</option>
          {{#each hood}}
            <option value="{{dataValues.id}}">{{dataValues.name}}</option>
          {{/each}}
        </select>
      </div>
      <button class="button is-medium is-rounded is-outlined is-info m-t-lg" id="barSubmit">Submit</button>
    </form>
  </div>
</div>
