<div class="dropdownMenus">
  <div class='form-field'>
    <h4>Select the first bar to go to</h4>
    <select id='bar1' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Select the bar to finish at</h4>
    <select id='bar2' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Add another bar</h4>
    <select id='bar3' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Add another bar</h4>
    <select id='bar4' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Add another bar</h4>
    <select id='bar5' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Add another bar</h4>
    <select id='bar6' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Add another bar</h4>
    <select id='bar7' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
    <h4>Add another bar</h4>
    <select id='bar8' class='form-control'>
      <option value="default">Choose a bar</option>
      {{#each hood}}
      <option value="{{dataValues.id}}">{{dataValues.name}}</option>
      {{/each}}
    </select>
  </div>
</div>
<button type="submit" id="barSubmit"><h3>submit</h3></button>