<link rel="stylesheet" href="/styles/results.css">
<div class="gridContainer">
  <div id="mapDiv" class="">
    <div id="map"></div>
  </div>
  <div data-location={{whereAt}} class="resultsArea">
    {{#each bars}}
    <div id="barz{{@index}}" class="m-b-lg has-text-centered">
      <p class="handlebarName has-text-weight-semibold" id="bar{{@index}}">{{name}}</p>
      <p class="handlebarBody">Street Address: <span class="address">{{street}} </span></p>
      <p class="handlebarBody">Phone Number: {{phone}}</p>
    </div>
    {{/each}}

  </div>
  <div class="bottom">
    <div class="another a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
      <a class="a2a_button_email"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_sms"></a>
    </div>
  </div>
</div>
<script src="/js/results.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfEf1NYscP1Dt2SiXXBr8y4SVddasmzHw&callback=initMap"></script>
<script async src="https://static.addtoany.com/menu/page.js"></script>